/*@import url(https://fonts.googleapis.com/css?family=Roboto:700,400);*/
html, body, h4, h5 { font-family: 'Roboto', sans-serif !important }

/* =======================
   ||  GLOBAL CSS  ||
   ======================= */
.table>thead>tr>th { text-transform: uppercase }
.table>tbody>tr>td, .table-features .feat p { line-height: 30px }
.table>thead>tr>th, 
.table>tbody>tr>th, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>tbody>tr>td, 
.table>tfoot>tr>td { border-top: 1px solid #aaa }
.table>thead>tr>th { border-bottom: 2px solid #aaa }
.modal-dialog { width: 480px; margin: 0 auto; margin-top: 100px }
.unit-plate, .select2-results__option { background-image: url('../img/plate_number.png'); background-size: contain; background-repeat: no-repeat; background-position: 50% 50%; text-align: center; font-weight: 600 }
.select2-container--default .select2-results__option--highlighted[aria-selected] { color: initial !important; background-color: none !important; background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('../img/plate_number.png') !important }
.table-features .feat { display: inline-flex; display: -webkit-inline-flex }
.table-features .feat .form-control { height: 30px; padding: 4px 12px; margin-right: 10px }
.table-features .feat p { margin-right: 10px }
.table-features .feat button { height: 30px }
.day, .night { height: 30px }
.day-text { color: #19BAEC }
.dashboard-wrapper { margin: 60px 50px 0 }
.dashboard-logo { width: 110px; padding: 10px 15px 30px }
.dashcons.col-sm-4 { width: 30%; margin-left: 1.55555%; margin-right: 1.55555% }
.dashcons { border: 3px solid #d9d9d9; padding: 10px }
.dashcons h4 { font-weight: 600 }
.dashcons a { margin-bottom: 5px }

.main-footer > div, .main-footer strong { color: #000 }
@media (max-width: 767px) { .dashcons.col-sm-4 { width: 100%; } }
@media (max-width: 480px) { .modal-dialog { width: 90% } }





/* =======================
   ||  editModalWindow  ||
   ======================= */
#editModalWindow .select2-container, #editModalWindow .day-night, #editModalWindow p { float: left; margin-right: 15px }
#editModalWindow .select2-container { width: 190px !important }
#editModalWindow .select2-container .select2-selection--single { height: 34px }
#editModalWindow .day-night { width: auto }
#editModalWindow p { line-height: 2.5; margin-bottom: 0 }
#editModalWindow .server-time { margin-right: 50px }
.route-dropdown { width: auto }






/* ==========================
   ||  CSS for Dispatcher  ||
   ========================== */
.page-dispatcher .content-header .pull-right p, .page-dispatcher .content-header .pull-right select { float: left; width: auto; margin-right: 10px }
.page-dispatcher .content-header .pull-right p { margin-top: 2px; margin-bottom: 2px }
.page-dispatcher .content-header .pull-right select { height: 28px; padding: 3px 12px }
.page-dispatcher .content-header .pull-right button { padding: 4px 10px }
#driver_data #dispatch-button.btn-success { border: 2px solid #088C50; color: #000; font-weight: 600; background-color: #12AD34; opacity: 1 }
#driver_data #dispatch-button.btn-success[disabled] { opacity: 1 }
#driver_data #dispatch-button.btn-warning { border: 2px solid #e08e0b; color: #000; font-weight: 600; background-color: #D4C621; opacity: 1 }
/*.wrapper-dispatcher { height: 520px; overflow: auto }*/